
// .container {
//     max-width: 1100px;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;
//     margin: 1rem;
// }


.container-sm {
    max-width: 900px;
    padding: 0 auto;
    margin: 0 auto;
    overflow: none;
    justify-content: center;
    align-items: center;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 4rem;
    // height: auto;
    // width: auto;
}

.second-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    justify-content: center;
    align-items: center;
    text-align: left;
    // height: auto;
    // width: auto;
}

.third-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: left;
    // height: auto;
    // width: auto;
}



.icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
    text-align: left;
    height: auto;
    width: auto;
    
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

@keyframes opacity {
    from {
        opacity: .2;
        transition: opacity 800ms ease-in-out;
    }
    to {
        opacity: 1;
        transition: opacity 1000ms ease-in-out;
    }
}

.darkmode {
    --clr-light: #fdffc4;
    --clr-dark: #00332a;
    --clr-primary: #202302;
    --clr-secondary: #00100d;
    --clr-accent: #ff7740;

    --foreground: var(var(--clr-light));
    --background: var(var(--clr-dark));
}


//media qs

@media screen and (max-width: 1282px) {
    .text-holder {
        font-size: 6.0em;
        position: relative;
        top: 3rem;
    }
    
}


@media screen and (max-width: 1110px) {
    
    body {
        justify-content: center;
        align-items: center;
    }

    nav {
        justify-content: center;
        align-items: center;
    }

    .showcase {
        
        .main-grid {
            display: flex; 
        }

        .text-holder {
            display: none;
        }
    }

    .about-me {
        justify-content: center;
        align-items: center;
        .profile-img {
            display: none;
        }
    }    
}   
